<div class="container">
  <h1>Sign in</h1>
  <%= form_for(:session, url: signin_path) do %>
    <%= label_tag :email %>
    <%= text_field_tag :email %>
    <%= label_tag :password %>
    <%= password_field_tag :password %>
    <%= submit_tag "Sign in" %>
  <% end %>

  <br>
  <p>Decisions are viewable by anyone, regardless of whether they are logged in. To help add decisions, speak to Maria or Rita for access.</p>
</div>
