<%= render "/layouts/sort_search_nav", title: "All Decisions" %>

<!-- All Decision details, options above to sort by Recent, by circle, -->

<div class="decsiions">
  <% @decisions.each do |decision| %>
    <span><strong><%= decision.name %></strong></span>
    <br>
    <span>Decided: <i><%= decision.date_decided %></i>, <%= decision.circle.name %></span>
    <p><%= decision.description %></p>
    <% if decision.review_by_date %>
      <p>This decision should be reviewed on: <%= decision.review_by_date %></p>
    <% end %>
    <p>~~~~~~</p>
  <% end %>
</div>
