<div class="title-search">
  <h1>All Decisions</h1>
  <span class="search">
    <%= render "/layouts/search" %>
  </span>
</div>

<!-- All Decision details, options to sort by Recent, by circle, -->
<table>
  <thead>
    <tr>
      <th><%= sortable "name", "Decision" %></th>
      <th><%= sortable "circle_id", "Circle" %></th>
      <th><%= sortable "date_decided", "Date Decided" %></th>
      <th>Needs Review?</th>
      <th>Description</th>
    </tr>
  </thead>
  <tbody>
    <% @decisions.each do |decision| %>
      <tr>
        <td><%= link_to "#{decision.name}", decision_path(decision.id)%></td>
        <td><%= decision.circle.name %></td>
        <td><%= decision.date_decided %></td>
        <% if decision.review_by_date %>
          <td>On: <%= decision.review_by_date %></td>
        <% else %>
          <td></td>
        <% end %>
        <td><%= decision.description %></td>
      </tr>
    <% end %>
  </tbody>
</table>
