<h1><%= @decision.name %></h1>
<h5>
  <b>Circle: </b><span><%= @decision.circle.name %></span>
</h5>
<p><%= @decision.description %></p>
<h5>
  <b>Decided: </b><span><%= @decision.date_decided %></span>
</h5>
<% if @decision.is_incorporated %>
  <h5>
    <b>Needs Review? </b><span>Already Incorporated</span>
  </h5>
<% else %>
  <h5>
    <b>Review By Date: </b><span><%= @decision.review_by_date %> </span>
  </h5>
<% end %>
<h5><b>Supporting Documents </b><span>(May require an OnlyOffice login)</span></h5>
<h5>
  <% if !@decision.supp_doc_one_link.nil? %>
    <span>
      <%= link_to "#{@decision.supp_doc_one_type}", @decision.supp_doc_one_link, target: :_blank %>
    </span>
  <% end %>
  <% if !@decision.supp_doc_two_link.nil? %>
    | <span>
      <%= link_to "#{@decision.supp_doc_two_type}", @decision.supp_doc_two_link, target: :_blank %>
    </span>
  <% end %>
  </h5>
