<h2>User Details</h2>
<div class="form-row">
  <div class="form-group col-md-4">
    <%= f.label :first_name %>
    <%= f.text_field :first_name, class: "form-control" %>
  </div>

  <div class="form-group col-md-3">
    <%= f.label :last_initial %>
    <%= f.text_field :last_initial, class: "form-control" %>
  </div>

  <div class="form-group col-md-5">
    <%= f.label :email %>
    <%= f.text_field :email, class: "form-control" %>
  </div>
</div>

<div class="form-row">
  <div class="col-md-7" id="password-super">
    <div class="form-group">
      <%= f.label :password %>
      <%= f.password_field :password, class: "form-control"%>
    </div>
    <div class="form-group">
      <p>Should the User be a Super Admin?</p>
      <div class="custom-control custom-switch">
        <%= f.check_box :site_admin_type, { class: "custom-control-input" }, 'super', 'leader' %>
        <%= f.label :site_admin_type, "Super", class: "custom-control-label" %>
      </div>
    </div>
  </div>


  <div class="col-md-5">
    <p>Circles user is involved in</p>
    <%# <% @user.roles.each do |role| %> %>
      <%= f.fields_for :roles do |ff| %>
        <% role_type_options = [["Operational Leader", "ol"], ["Elected Representative", "er"], ["Administrator", "admin"], ["None", "none"]] %>
        <%= ff.select :role_type, role_type_options %>
        <%= ff.select :circle_id, @circles.map { |c| [c.name, c.id] } %>
      <% end %>
    <%# <% end %> %>
  </div>

</div>
