<h2>Circle Details</h2>
<div class="form-row">
  <div class="form-group col-md-9">
    <%= f.label :name %>
    <%= f.text_field :name, required: true, class: "form-control" %>
  </div>

  <div class="form-group col-md-3">
    <%= f.label :abbreviation %>
    <%= f.text_field :abbreviation, required: true, class: "form-control" %>
  </div>
</div>
<div class="form-row">
  <div class="form-group col-md-12">
    <%= f.text_area :description, { class: "form-control", size: "100x5" } %>
  </div>
</div>
