<%= render "/layouts/sort_search_nav", locals: {title: "Hart's Mill Decisions by Circles", sort_available?: false} %>
<div class="container">
  <% @circles.each do |circle| %>
    <h2><%= circle.name %></h2>
    <p><%= circle.description %></p>
    <% circle.decisions.each do |decision| %>
      <h4><%= decision.name %></h4>
      <p><%= decision.description %></p>
    <% end %>
    ~~~~~~~
  <% end %>
</div>
