<%= render "/layouts/sort_search_nav", locals: {title: "Hart's Mill Circles", sort_available?: false} %>
<div class="container">
  <table class="table">
    <thead>
      <tr>
        <th scope="col"></th>
        <th scope="col">Circle</th>
        <th scope="col">OLs/ERs/Admins</th>
        <th scope="col">Description</th>
        <th scope="col">Decisions</th>
        <% if allow? :circles, :edit %>
          <th scope="col">Edit</th>
          <th scope="col">Delete</th>
        <% end %>
      </tr>
    </thead>
    <tbody>
      <% @circles.each do |circle| %>
        <tr>
          <td scope="row"><%= circle.abbreviation %></td>
          <td><%= circle.name %></td>
          <td>
            <% circle.roles.order(role_type: :desc).each do |role| %>
              <% unless (role.role_type == 'none' || role.role_type == 'super') %>
                <% rt_readable = 'OL' if role.role_type == 'ol' %>
                <% rt_readable = 'ER' if role.role_type == 'er' %>
                <% rt_readable = 'Admin' if role.role_type == 'circle_admin' %>
                <span><%= rt_readable %>: </span>
                <span><%= role.user.first_name %> </span>
                <span><%= role.user.last_initial %></span>
                <br>
              <% end %>
            <% end %>
          </td>
          <td><%= circle.description %></td>
          <td><%= link_to "View", circle_decisions_path(circle), { class: "btn btn-primary" } %></td>
          <% if allow? :circles, :edit %>
            <td><%= link_to "Edit", edit_circle_path(circle), { class: "btn btn-info" } %></td>
            <td><%= link_to "Delete", circle_path(circle), { :data => { confirm: "You sure?", method: "delete" }, class: "btn btn-danger" } %></td>
          <% end %>
        </tr>
      <% end %>
      <tr>
        <td colspan="3">
        <%= link_to "Add New Circle", new_circle_path, { class: "btn btn-success"} %>
        </td>

      </tr>
    </tbody>
  </table>

</div>
