<nav class="navbar navbar-expand-lg">
  <span class="navbar-brand">
    <% if params[:search].present? %>
      <h1>Results for: '<%= params[:search] %>'</h1>
    <% else %>
      <h1><%= locals[:title] %></h1>
    <% end %>
  </span>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

<!-- If I should be able to sort (as in, searching isn't happening, and I'm on a page that allows sorting...) -->
  <% if !params[:search].present? && locals[:sort_available?] %>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">

        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle href="#" id="navbarDropdown2" role="button" data-toggle="dropdown"aria-haspopup="true" aria-expanded="false">
            Filter By
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown2">
            <%= link_to "Needing Review", review_path, class: "dropdown-item" %>
            <% @circles.each do |circle| %>
              <%= link_to "#{circle.abbreviation}", circle_decisions_path(circle.id), class: "dropdown-item" %>
            <% end %>
            <%= link_to "Show All", root_path, class: "dropdown-item" %>
          </div>
        </li>

        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle href="#" id="navbarDropdown1" role="button" data-toggle="dropdown"aria-haspopup="true" aria-expanded="false">
            Sort By
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown1">
            <%= sortable "name", "Name" %>
            <%= sortable "circle_id", "Circle" %>
            <%= sortable "date_decided", "Date Decided" %>
          </div>
        </li>

      </ul>
    </div>
  <% end %>
  <%= render "/layouts/search" %>
</nav>
