<nav class="navbar navbar-expand-lg">
  <span class="navbar-brand">
    <% if searching? %>
      <h1>Results for: '<%= params[:search] %>'</h1>
    <% else %>
      <h1><%= locals[:title] %></h1>
    <% end %>
  </span>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

<!-- On /circles page, do I have any search params? -->
  <% if !searching? && locals[:sort_available?] %>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item sortable"><%= sortable "name", "Name" %>
        </li>
        <li class="nav-item sortable"><%= sortable "circle_id", "Circle" %></li>
        <li class="nav-item sortable"><%= sortable "date_decided", "Date Decided" %></li>
      </ul>
    </div>
  <% end %>
  <%= render "/layouts/search" %>
</nav>
