<!DOCTYPE html>
<html>
  <head>
    <title>Common Ground - Decision Log</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%# <%= javascript_include_tag 'datepicker', 'data-turbolinks-track': 'reload' %>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.1/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
  </head>

  <body>
    <nav class="navbar">
      <p><%= link_to "Decisions", root_path %> </p>
      <p><%= link_to "Circles", circles_path %></p>
      <% if allow? :decisions, :new %>
        <p><%= link_to "Add A Decision", new_decision_path %></p>
      <% end %>
      <% if allow? :users, :index %>
        <p><%= link_to "Users", users_path %></p>
      <% end %>
      <% if current_user %>
        <p>Welcome, <%= current_user.first_name %> | <%= link_to "Profile", user_path(current_user) %> |
        <%= link_to "Log Out", signout_path %></p>
      <% else %>
        <p><%= link_to "Log In", signin_path %> </p>
      <% end %>
    </nav>
    <div class="container my-4">
      <div class="jumbotron">
      <h1>Decision Log for Common Ground Ecovillage</h1>
      </div>
      <%= flash[:alert] %>
      <%= flash[:notice] %>
      <%= yield %>

    </div>

  </body>
</html>
