<!DOCTYPE html>
<html>
  <head>
    <title>HMEV Decision Log</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <nav class="navbar">
      <!-- links to '/', Decisions By Circle, All Decisions, Admin Log In -->
      <p><%= link_to "Home", root_path %> </p>
      <p><%= link_to "Decisions By Circle", circles_path %></p>
      <p><%= link_to "All Decisions", decisions_path %></p>
      <% if current_user && currently_super_admin? %>
        <p><%= link_to "All Users", users_path %></p>
      <% end %>
      <% if current_user %>
        <p><%= link_to "Add A Decision", new_decision_path %></p>
        <p><%= link_to "Log Out", signout_path %></p>
      <% else %>
        <p><%= link_to "Log In", signin_path %> </p>
      <% end %>
    </nav>
    <div class="container">
      <div class="jumbotron">
      <h1>HMEV Decision Log</h1>
      </div>
      <%= flash[:alert] %>
      <%= flash[:notice] %>
      <%= yield %>

    </div>

  </body>
</html>
